<h3>Đăng nhập quản trị viên</h3>

<div class="col-md-6 col-sm-12">
    <div class="login-form">
        <form method="post" asp-controller="Admin" asp-action="Login">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-black">Login</button>
            <a asp-controller="Home" asp-action="Register" class="btn btn-danger">Register</a>
        </form>
        <h6 class="mt-2">Forgot Password ? <a asp-action="ForgotPassword" class="text-danger">Click Now !</a></h6>
    </div>
</div>