@model IEnumerable<SellerProduct.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Mua giày không em?</h1>
        <p>Một sản phẩm của xa lộ</p>
    </div>

    <div>
        <img src="/Image/1.png" />
    </div>

    <div class="sp">
        <div class="row">
            <h3>Những sản phẩm số lượng trên 5</h3>
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-xs-6">
                    <img src="@item.ImageDirection" alt="" style="width:100%; height:350px">
                    <p class="tensp">@item.Name</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="giaspkm">@item.Price đ</p>
                        </div>
                    </div>
                    <div class="b-mua">
                        <a href="@Url.Action("Details","Product",new { id=item.Id })">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="bi bi-bag-check"></i>
                                mua
                            </button>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div >
        <h2>Giới Thiệu Cửa Hàng</h2>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <span>
                    Với châm ngôn: "Bạn nói như vậy á là bạn xa lộ", chúng tôi không nói mà chúng tôi làm. Đem đến cho bạn những đôi giày chất lượng nhất, cool nhất high nhất từ nhà Converse để bạn tha hồ chất chơi mà vẫn classic.
                </span>

                <!-- <p>Địa chỉ: Ngõ 71,Phường Phương Canh,Quận Nam Từ Liêm, Hà Nội </p>
                            <p>SĐT : 037019932</p> -->

            </div>
            <div class="col-md-6 col-xs-6">

                <a href="">

                    <img src="/image/1.jfif" style="width:250px; height:250px" />
                </a>
            </div>
        </div>
    </div>
</div>
