@model NET104_PH27305_ASSIGNMENT.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-form">
    <div class="row">
        <div class="col-md-6">
            <label>E-mail / Username</label>
            <input class="form-control" type="text" placeholder="E-mail / Username">
        </div>
        <div class="col-md-6">
            <label>Password</label>
            <input class="form-control" type="text" placeholder="Password">
        </div>
        <div class="col-md-12">
            <button class="btn">Submit</button>
        </div>
    </div>
</div>

